* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

h1 {
  font-size: medium;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.main-container {
  padding: 0;
  width: 50%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem gray;
}

.main-container div {
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: solid 1px gainsboro;
  height: 3rem;
}

img {
  width: 1rem;
  aspect-ratio: 1/1;
}

#add-field {
  height: 3rem;
  border: solid 1px gainsboro;
  border-right: 0;
  border-left: 0;
  outline: none;
  flex-grow: 1;
}

#list-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  padding: 1rem;
  border: solid 1px gainsboro;
}

#list-container li {
  padding: 1rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: white;
  height: 3rem;
  gap: 1rem;
}

input:checked ~ span {
  text-decoration: line-through;
  color: gray;
}

#list-container li span {
  flex-grow: 1;
}


#clean-btn {
  height: 3rem;
  padding: 1rem;
  margin: 0;
  border: solid 1px gainsboro;
  color: gray;
}

#clean-btn:hover {
  background-color: gainsboro;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
